@{
    ViewBag.Title = "Index";
}

<div class="jumbotron text-center">Bem Vindo ao Aplicativo Meet Group</div>

<div class="btn-group-justified text-center">
    <button type="button" class="btn btn-default" style="width:100px">@Html.ActionLink("Cadastro", "Index", "Reuniao")</button>
</div>